/orderapp/orderapp.iml
/orderapp/build/*
*.iml
/.idea
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
orderapp/build/
orderapp/target/
restapp/target/
restapp/webapp/META-INF/
restapp/webapp/WEB-INF/classes/
restapp/webapp/WEB-INF/lib/
